# .coveragerc file to configure coverage report

[run]
branch = True
source = nngt/

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    raise AttributeError
    raise InvalidArgument
    if __name__ == .__main__.:
    def _repr_pretty_

include = nngt/*

omit =
    **/setup.py
    nngt/database/*
    nngt/testing/*
    nngt/lib/db_tools.py
