# doc
doc/.build/
doc/_build/
doc/examples/sp_graph
doc/examples/.ipynb_checkpoints/
doc/gallery/graph_properties/
doc/gallery/graph_structure/

# generated rst
doc/modules/examples
doc/modules/analysis.rst
doc/modules/generation.rst
doc/modules/geometry.rst
doc/modules/lib.rst
doc/modules/nngt.rst
doc/modules/plot.rst
doc/modules/simulation.rst
doc/modules/nngt/main-functions.rst
doc/modules/nngt/side-classes.rst

*.tmp

# generated cpp
nngt/generation/cconnect.cpp

nngt/testing/Ref/*

# python stuff
*.pyc
*/__pycache__
.coverage
*.pyxbldc
build
dist/
nngt.egg-info/
*.so

# visualcode
*.vscode
