# SPDX-FileCopyrightText: 2015-2023 Tanguy Fardet
# SPDX-License-Identifier: CC0-1.0

# Include the license files
recursive-include LICENSES *.txt

# Include the Cython/C++ files
include nngt/generation/func_connect.*
recursive-include nngt/ *.pyx
recursive-include nngt/ *.pxd
recursive-include nngt/ *.pyxbld

global-exclude __pycache__
global-exclude cconnect.cpp
global-exclude *.pyc

# include config file
include nngt/nngt.conf.default
