@import url("bootstrap-sphinx.css");


a.headerlink {
    visibility: hidden;
}

code.descclassname, code.descname {
    font-size: 110%;
}

/*
Left navbar
*/

#sidebar {
    border: solid 1px #cccccc;
    background-color: #f7f5fa;
}

div.col-md-3 {
    text-align: center;
}

div.col-md-3 p.caption {
    padding: 0;
    margin: 1ex 0 0.5ex 0;
}

p.toctitle {
    padding-left: 0;
    font-weight: bold;
    font-size: 150%;
    font-variant: small-caps;
}

p.caption {
    padding: 0 0 0 1em;
    margin: 1ex 0 0.5ex 0;
    font-weight: bold;
}

ul.globaltoc {
    font-size: 120%;
    padding: 0;
    margin: 0;
}

ul.simple p {
    margin-bottom: 0;
}

img.logo {
    margin: 1ex 0 1em 0;
    width: 150px;
    height: auto;
}

/*
Documentation functions
*/

dl {
    margin: 0;
    padding: 0;
}

dl dd {
    margin-left: 30px;
}

dl.function, dl.class, dl.exception {
    padding-top: 0;
    clear: both;
    margin: 1em 0 1ex 0;
}

dl.function, dl.exception {
    border-top: 3px solid #cccccc;
    border-radius: 3px;
}

dl.class {
    border-top: 3px solid #729fcf;
    border-radius: 3px;
}

dl.function dt, dl.class dt, dl.exception dt {
    margin-bottom: 1ex;
    padding: 0.5ex 1ex 0.5ex 1ex;
    border-radius: 3px;
}

dl.function dt, dl.exception dt {
    background-color: #f7f5fa;
}

dl.class dt {
    background-color: #f3f3fb;
    border-radius: 3px;
}

dl.field-list dt, dl.simple dt {
    background-color: #ffffff;
}

dt.field-odd, dt.field-even {
    background-color: #ffffff;
}

table.longtable {
    font-size: 100%;
}

.admonition {
    font-size: 100%;
}
